.biscuit-button {
  height: 16.5vh;
  width: auto;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.biscuit-button:hover {
  height: 18vh;
  padding: 0;
  /* padding-left: 2.5vw;
  padding-right: 2.5vw; */
}
