.upgrade {
  width: 70vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(140, 192, 149);
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 20%;
  margin-bottom: 1rem;
}

.upgrade-button {
  width: 5vw;
  height: 4vh;
}
